################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPSC5210TestProject/CPSC5210TestProject/bin/Debug
